@import "../../index.scss";

.company-title {
  @include themify($themes) {
    display: flex;
    align-items: center;
    margin-top: 60px;
    border-radius: 10px;

    background-color: themed("cards");
    color: themed("textOne");

    @include mobile {
      flex-direction: column;
      justify-content: center;
      height: 300px;
      text-align: center;
      gap: 30px;
      padding: 40px;
    }

    @include tablet {
      flex-direction: row;
      height: 200px;
      text-align: start;
      gap: 60px;
      padding: 0;
    }

    .pic-placeholder {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: green;
      color: white;

      @include mobile {
        height: 100px;
        aspect-ratio: 1 / 1;
      }

      @include tablet {
        height: inherit;
        aspect-ratio: 1 / 1;
      }

      h1 {
        @include mobile {
          font-size: 40px;
        }

        @include tablet {
          font-size: 60px;
        }

        @include desktop {
          font-size: 80px;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1,
      p {
        margin: 0;
      }

      p {
        font-size: 20px;
        color: themed("textTwo");
      }
    }

    button {
      border: none;

      font-weight: 500;
      border-radius: 10px;
      color: white;
      cursor: pointer;

      color: themed("buttonText");
      background-color: themed("button");

      @include mobile {
        margin: 0;
        width: 150px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
      }

      @include tablet {
        margin-left: auto;
        margin-right: 50px;
        width: 200px;
        height: 70px;
        font-size: 20px;
      }

      @include desktop {
        margin-right: 100px;
      }

      &:hover {
        background-color: themed("buttonHover");
      }
    }
  }
}
