@import "../../index.scss";

.job {
  @include themify($themes) {
    max-width: 1280px;
    display: flex;
    flex-direction: column;

    @include rwd("0px") {
      margin: 0 25px;
    }

    @include mobile {
      gap: 25px;
    }

    @include desktop {
      margin: 0 auto;
      gap: 60px;
    }
  }
}
